

* {
    font-family: "Courier New", monospace;
    background-color: aliceblue;
}

header {
    background-color: darkturquoise; /* Arrière-plan de l'en-tête */
    color: #fff; /* Couleur du texte dans l'en-tête */
    padding: 15px; /* Espace autour du contenu de l'en-tête */
    border-radius: 10px;
}
/* CSS dans votre fichier index.css */

/* Style pour le menu de navigation */
nav {
    display: flex;
    justify-content: space-between; /* Place le contenu à l'extrémité gauche et droite */
    align-items: center; /* Centre verticalement les éléments */
    padding: 2px;
    color: #fff; /* Couleur du texte dans le menu */
    border-radius: 10px;
    background-color: darkturquoise;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: darkturquoise;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: larger;
    font-weight: bold;
    background-color: darkturquoise;
    color: whitesmoke;

}

/* Style au survol des liens */
nav a:hover {
    text-decoration: underline;
    color: darkorchid;
}

/* Style pour la barre de recherche */
.search-box {
    display: flex;
}

.search-box input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-box button {
    background-color: darkturquoise;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

/* Style au survol du bouton de recherche */
.search-box button:hover {
    background-color: #555;
}

/* page generale*/
main {
    margin-left: 30px;
    padding: 50px;
}

@import url('https://fonts.cdnfonts.com/css/kaushan-script');
.titre h1{
    text-align: center;
    margin-top: 15px;
    color: darkorchid;
    font-size: 4em;
    font-family: 'Kaushan Script', cursive;
}

h2{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
    text-decoration: underline;
    color: darkorchid;
}

.contact h2{
    text-align: center;
}

h3{
    color: darkturquoise;
    font-size: larger;
}
p {
    font-weight: bold;
    font-size: large;
    margin-bottom: 30px;
    padding-left: 70px;
    padding-right: 70px;
}

/*pour la liste des service*/
.service{
    display: flex; 
    list-style: none; 
    gap: 50px;
    justify-content: space-around;;
}
.service section ul {
    display: flex;
    justify-content: space-around;;
}

.service section li {
    padding: 20px;
    list-style: none;
    margin-top: 30px;
}
.service p{
    padding: 20px;
    list-style: none;
    margin-top: 30px;
}
.deroule {
    max-height: 150px;
    overflow: hidden;
    transition: 10s ease;
}

.deroule:hover{
    max-height:1000px;
    transition: 5s ease ;
}

/*choisir*/
.choisir p{
    padding: auto;
    margin-left: 30px;
}

/* liste imageindex */
.imageindex1 ul {
    display: flex; 
    list-style: none; 
    padding: 30px;
    justify-content: space-around;
    
}


.imageindex1 li img {
    width: 200px; 
    height: 145px;
    padding: auto;
    border: 3px black;
    border-radius: 2px;
}

/* liste imageentreprise */
.imageentreprise ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 40px;
    gap: 100px;
}

.imageentreprise li {
    margin: 30px 30px; 
    text-align: center;
    padding: 60px;
}

.imageentreprise li img {
    width: 250px;
    height: 250px;
}

@media (min-width: 768px) {
    /* Media query pour établir une disposition 3x3 sur les écrans plus larges */
    .imageentreprise ul {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .imageentreprise li {
        margin: 10px; 
        width: calc(33.33% - 20px); 
    }
}


.separator { /*separateur visuel*/
    width: 100%;
    height: 3px;
    background-color: #ccc; /* Couleur de la barre horizontale */
    margin: 10px 0; /* Marge au-dessus et en dessous de la barre */
}

footer {
    background-color: darkturquoise;
    color: darkorchid;
    padding: 20px; 
    border-radius: 10px;
    
}
.bas {
    background-color: darkturquoise;
    color: darkorchid;
    font-size: small;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
}

/* PAGE CONTACT FORMULAIRE */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: darkturquoise; 
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: darkorchid;
}

label {
    background-color: darkturquoise;
    color: darkorchid;
    font-weight: bold;
    font-size: larger;
    margin-bottom: 10px;
    display: block;
}

/* Style pour les zones de texte et les boutons */
input[type="text"],
select,
input[type="email"],
input[type="tel"] {
    width: 85%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px; 
    text-align: left;
    font-weight: bold;
    font-size: larger;
    color: darkorchid;
}

/* Style pour le bouton de validation */
button {
    background-color: darkorchid;
    color: darkturquoise;
    font-weight: bold;
    font-size: larger;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color: darkslategray;
}


/* Media query pour la mise en forme responsive */
@media (max-width: 768px) {
    form {
        max-width: 100%; /* Boîte de contact prendra toute la largeur de l'écran */
        padding: 10px; /* Ajustement de la marge interne pour les petits écrans */
    }
    
    label {
        margin-bottom: 5px; 
    }
}
/* les region et entrer du telephone*/
.telephone-input {
    display: flex;
    align-items: center;
}

.telephone-input input[type="tel"] {
    flex: 1;
    padding: 10px;
    margin-right: 10px; /* Espace entre la case de sélection et le champ de saisie */
    border: 1px solid #ccc;
    border-radius: 3px;
    text-align: left;
}

.telephone-input::before {
    content: "";
    width: 20px; /* Largeur de la case de sélection */
    height: 20px; /* Hauteur de la case de sélection */
    border: 1px solid #ccc;
    border-radius: 3px;
    display: inline-block;
    margin-right: 10px; /* Espace entre la case de sélection et le champ de saisie */
}

/* disposition mosaique */

@media (min-width: 768px) {
    .mosaique ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0; /* Supprime la marge par défaut de la liste */
    }

    .mosaique li {
        flex: 0 0 calc(33.33% - 20px); /* Ajuste la largeur de chaque élément */
        margin: 10px;
        list-style: none; /* Supprime les puces de liste */
    }
}

